.dark {
    --color-bg-primary: #313030;
    --color-bg-secondary: #0284C7;
    --color-bg-tertiary: #1f1f1f;
    --color-bg-quaternary: rgba(24, 24, 24, 0.7);
    --color-bg-card: #e4e4e4;
    --color-font-primary: #ebebeb;
    --color-font-secondary: #e4e4e4;
    --color-font-tertiary: #c4c4c4;
    --color-font-quaternary: #292929;

    ::-webkit-scrollbar-track {
        background-color: #313030;
    }
}

.light {
    --color-bg-primary: #f9f9f9;
    --color-bg-secondary: #0284C7;
    --color-bg-tertiary: #006fa7;
    --color-font-primary: #0284C7;
    --color-bg-card: #fafafa;
    --color-font-secondary: #313030;
    --color-font-tertiary: #8d8d8d;
}

@tailwind base;

html {
    scroll-behavior: smooth;
}

#quem-somos {
    padding-top: 150px
}

#sobre-plataforma {
    padding-top: 100px
}

#contato {
    padding-top: 70px
}

#forum {
    padding-top: 140px
}

#materials {
    padding-top: 140px
}

.modal-transition {
    transition: opacity 0.3s ease-in-out;
}

.navbar {
    @apply flex px-44 py-3 items-center justify-between shadow-lg;
}

.title {
    @apply text-6xl font-bold tracking-tight text-primary text-center;
}

/* .subtitle {
    @apply text-2xl mt-5 font-bold tracking-tight text-font_secondary text-center;
} */

/* .btn {
    @apply px-3 py-2 shadow-lg rounded-lg text-white bg-primary hover:bg-secondary active:bg-sky-900 text-sm font-semibold;
} */

.btn-secondary {
    @apply mx-1 px-3 py-2 -mr-6 bg-primary text-white rounded-lg cursor-pointer;
}

.input {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}

.login {
    @apply flex-1 mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-14 lg:max-w-7xl lg:px-8 mt-12 -mb-1;
}

.register {
    @apply flex-1 mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-14 lg:max-w-7xl lg:px-8 mt-12 -mb-1;
}

.footer {
    @apply bg-primary text-primary text-center py-4 text-lg mt-auto;
}

@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #0284C7;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}